@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --GREEN: #487254;
    --CREAM_WHITE: #f6f3e9;
    --LIGHT_BROWN: #dfdcd3;
    --CHOC_BROWN: #22150c;
    --BLACK: #000;
    --WHITE: #FFF;
    --DIVIDER_BROWN: #d6d0bc;
    --BROWNISH: #BAB5A4;
    --GRAY: gray;
}

@font-face {
    font-family: "Giambatt";
    src: url("../public/fonts/GiambattistaDueMille.ttf");
    font-family: "Bally_Girl";
    src: url("../public/fonts/Bally_Girl.ttf");
}

/* custom css code below */
@layer components {

    body,
    #root {
        background-color: var(--CREAM_WHITE);
    }

    .headline-text {
        @apply text-7xl font-medium;
    }

    .subHeadline-text {
        @apply text-5xl font-medium;
    }

    .centerChild {
        @apply flex justify-center items-center;
    }

    .bookingCalcHeaders {
        color: var(--GREEN);
        font-weight: 600;
    }

    .darkenedBackgroundImage {
        background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/public/assets/images/homepage/introCover.jpg');
        background-size: cover;
        background-position: center;
    }

    .darkenedFooterBgImage {
        background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/public/assets/images/homepage/footerCover.jpg');
        background-size: cover;
        background-position: center;
    }


    .bookingCalcHeadersWrapper {
        width: 100%;
    }

    @media screen and (min-width: 640px) {
        .bookingCalcHeadersWrapper {
            width: 600px;
        }
    }

    @media screen and (min-width: 768px) {
        .bookingCalcHeadersWrapper {
            width: 680px;
        }
    }

    @media screen and (min-width: 940px) {
        .bookingCalcHeadersWrapper {
            width: 850px;
        }
    }

    .h-screen_2 {
        height: 70vh;
    }

    .bgGrayDecor {
        position: absolute;
        width: 50%;
        height: 50%;
        background: var(--DIVIDER_BROWN);
        top: 0;
        left: 0;
        z-index: -1;
    }

}