@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --GREEN: #487254;
    --CREAM_WHITE: #f6f3e9;
    --LIGHT_BROWN: #dfdcd3;
    --CHOC_BROWN: #22150c;
    --BLACK: #000;
    --WHITE: #FFF;
    --DIVIDER_BROWN: #d6d0bc;
}

@font-face {
    font-family: "Giambatt";
    src: url("../public/fonts/GiambattistaDueMille.ttf");
    font-family: "Bally_Girl";
    src: url("../public/fonts/Bally_Girl.ttf");
}

/* custom css code below */
@layer components {

    body,
    #root {
        background-color: var(--CREAM_WHITE);
    }

    .headline-text {
        @apply text-7xl font-medium;
    }

    .subHeadline-text {
        @apply text-5xl font-medium;
    }

    .centerChild {
        @apply flex justify-center items-center;
    }

}